In [92]:
import csv
import pandas as pd
import pprint
import re
from typing import List, Dict, Any, Generator
import sqlglot
from typing import TypedDict, Any, Union, cast
from tqdm.notebook import tqdm

## Helper functions

In [100]:
DIALECT = "mysql"

log_csv_file_path = '/mnt/Code/code/AI/agentic-AI/SQL-QA/logs/turn_log_benchmark.csv'

DELIMITER = (
        "\t"  # Using tab as delimiter which is less likely to appear in text content
    )

CANDIDATE_NAMES = [
    'direct_generation',
    'cot_generation',
    'dac_cot_genration',
    'query_plan_generation'
]

In [4]:

class LogRowEntry(TypedDict):
    created_date:Any
    user_question:Any
    linking_structured_result:Any
    filtered_schema_tables:Any
    direct_generation_prompt:Any
    generation_response:Any
    query_validation_prompt:Any
    query_validation_response:Any
    final_sql:Any
    cot_generation_prompt:Any
    dac_cot_genration_prompt:Any
    query_plan_generation_prompt:Any
    merger_prompt:Any
    merger_response:Any
    merger_result:Any
    sql_result:Any
    response_enhancement_prompt:Any
    response_enhancement_response:Any
    response_enhancement_result:Any
    query_fixing_prompt:Any
    query_fixing_response: Any      

class LlmRowEntry(TypedDict):
    question: Any
    ground_truth_sql: Any
    level: Any
    ground_truth_result: Any
    error: Any
    generated_sql_query: Any
    generated_query_result: Any
    generated_sql_error: Any
    generated_raw_result: Any
    llm_exact_match: Any
    llm_execution_match: Any

    candidate_generations: Any
    candidate_em: Any
    candidate_ex: Any
    candidate_least_correct: Any

In [88]:
def normalize_sql(sql: str, pretty=True) -> str:
    # TODO: sqlglot not supporting UTF-8
    """
    Normalize SQL queries by removing extra whitespace and converting to lowercase.
    """
    try:
        return sqlglot.transpile(
                    sql, write=DIALECT, pretty=pretty,
            )[0]

    except Exception as e:
        print(f"Error normalizing SQL: {e} at\nQuery: {sql}")
        # Fallback to a simple normalization if sqlglot fails
        return sql
    # return sqlglot.parse_one(sql).sql().lower().strip()
def is_exact_match(src_sql: str, tg_sql: str) -> bool:
    """
    Check if the query matches the answer exactly.
    """
    # return query.strip() == answer.strip()
    try:
        return normalize_sql(src_sql) == normalize_sql(tg_sql)
    except Exception as e:
        print(f"Error normalizing SQL: {e} at\nQuery: {src_sql}\nAnswer: {tg_sql}")
        return False

def normalize_answer(answer: str) -> str:   
    """
    Normalize the answer by removing extra whitespace and converting to lowercase.
    """
    return answer.strip().lower()
    
def is_execution_match(src_result: str, tg_result: str) -> bool:
    """
    Check if the query matches the answer after execution.
    """
    try:
        # Normalize both query and answer
        normalized_src_query = normalize_answer(src_result)
        normalized_tg_answer = normalize_answer(tg_result)
        
        # Compare normalized versions
        return normalized_src_query == normalized_tg_answer
    except Exception as e:
        print(f"Error normalizing execution result: {e} at\nQuery: {src_result}\nAnswer: {tg_result}")
        return False


regex = r"Câu lệnh SQL \d: ```sql([^`]*)```"

def parse_sql_candidates(regex=regex, merge_prompt='') -> List[str]:

    matches = re.finditer(regex, merge_prompt, re.MULTILINE | re.DOTALL)
    candidates = []
    for matchNum, match in enumerate(matches, start=1):
        
        # print ("Match {matchNum} was found at {start}-{end}: {match}".format(matchNum = matchNum, start = match.start(), end = match.end(), match = match.group()))
        
        for groupNum in range(0, len(match.groups())):
            groupNum = groupNum + 1
            
            # print ("Group {groupNum} found at {start}-{end}: {group}".format(groupNum = groupNum, start = match.start(groupNum), end = match.end(groupNum), group = match.group(groupNum)))
            # print(match.group(groupNum).strip())
            # print('-' * 20)
            sql = match.group(groupNum).strip()
            sql = normalize_sql(sql)
            candidates.append(sql)

    return candidates

In [9]:
def gen_get_row_sql_gen_candidates(
    csv_file_path: str, delimiter: str = DELIMITER
) -> Generator[LogRowEntry, None, None]:
    """
    Extract Rows from a CSV file and yield each row as a dictionary.
    Each row contains fields like:
    
    """
    with open(
        csv_file_path, "r", newline="", encoding="utf-8"
    ) as csvfile:
        reader = csv.DictReader(
            csvfile, delimiter=delimiter, quoting=csv.QUOTE_ALL
        )
        i = 0
        for row in reader:
            # i += 1
            # if i > 5: break
            # print(f'----------Row {i}---------')
            # pprint.pprint(row, indent=4, width=80)
            yield cast(LogRowEntry,row)

In [ ]:
parse_sql_candidates(merge_prompt=merge_prompt)

['SELECT\n  id,\n  branch_name,\n  branch_code,\n  description\nFROM branch\nWHERE\n  is_active = 1',
 'SELECT\n  branch_name,\n  branch_code,\n  description\nFROM branch\nWHERE\n  is_active = 1',
 'SELECT\n  branch_name,\n  branch_code,\n  description\nFROM branch\nWHERE\n  is_active = 1',
 'SELECT\n  branch_name,\n  branch_code,\n  description\nFROM branch\nWHERE\n  is_active = 1']

In [7]:
row['merger_response']

" sql='SELECT branch_name, branch_code, description FROM branch WHERE is_active = 1;' explanation='The SQL query selects the branch_name, branch_code, and description from the branch table where the is_active flag is set to 1.'"

In [24]:
test_sql = ['SELECT\n  id,\n  branch_name,\n  branch_code,\n  description\nFROM branch\nWHERE\n  is_active = 1',
 'SELECT\n  branch_name,\n  branch_code,\n  description\nFROM branch\nWHERE\n  is_active = 1']

for sql in test_sql:
    print(f'Original SQL: \n```{sql}\n```')
    normalized_sql = normalize_sql(sql)
    print(f'Normalized SQL: \n```{normalized_sql}```')
    print(f'Is exact match: {is_exact_match(sql, normalized_sql)}')
    print('-' * 40)

Original SQL:
```SELECT
  id,
  branch_name,
  branch_code,
  description
FROM branch
WHERE
  is_active = 1
```
Normalized SQL:
```SELECT
  id,
  branch_name,
  branch_code,
  description
FROM branch
WHERE
  is_active = 1```
Is exact match: True
----------------------------------------
Original SQL:
```SELECT
  branch_name,
  branch_code,
  description
FROM branch
WHERE
  is_active = 1
```
Normalized SQL:
```SELECT
  branch_name,
  branch_code,
  description
FROM branch
WHERE
  is_active = 1```
Is exact match: True
----------------------------------------

In [ ]:

candidates_gen = gen_get_row_sql_gen_candidates(csv_file_path=log_csv_file_path, delimiter=DELIMITER)
# row = next(iter(candidates_gen))  # Skip the first row (header)
row = next(candidates_gen)  # Get the first row
print(row['user_question'])

Liệt kê tất cả các chi nhánh hiện đang hoạt động.

In [84]:
from langchain_community.utilities import SQLDatabase

conn = 'mysql+pymysql://root:yolo2chill@localhost:3306/gsv'
db =  SQLDatabase.from_uri(conn)

def get_sql_result(sql: str) -> Any:
    """
    Execute the SQL query and return the result.
    """
    # try:
    #     result = db.execute(sql)
    #     return result.fetchall()
    # except Exception as e:
    #     print(f"Error executing SQL: {e} at\nSQL: {sql}")
    #     return None
    result = db.run_no_throw(sql)
    return result

In [ ]:
import sys

csv.field_size_limit(sys.maxsize)

csv_result_path = "/mnt/Code/code/AI/agentic-AI/SQL-QA/data/GSV/generated-data/gen_success_data_results_LLM_judge_updated.csv"

df = pd.read_csv(
    csv_result_path,
    encoding="utf-8",
    quoting=1,  # QUOTE_ALL mode
    escapechar="\\",
    on_bad_lines="warn",
)
df["candidate_generations"] = None
df["candidate_em"] = None
df["candidate_ex"] = None
df["candidate_least_correct"] = None
df["candidate_passes"] = None

candidates_gen = gen_get_row_sql_gen_candidates(
    csv_file_path=log_csv_file_path, delimiter=DELIMITER
)
pbar = tqdm(df.iterrows(), total=len(df), leave=False)
for idx, llm_row in pbar:
    # if idx > 5:
    #     break
    llm_row = cast(LlmRowEntry, llm_row)  # Ensure row is of type LlmRowEntry
    pbar.write(f"----------Row {idx}---------")
    pbar.write(f'Processing llm_row with question: {llm_row["question"]}')
    while True:
        try:
            candidate_row = next(candidates_gen)
        except StopIteration:
            pbar.write(f"No candidate row found for index {idx}")
            candidate_row = None
            break

        if candidate_row["user_question"] != llm_row["question"]:
            pbar.write(f'skip candidate row:\n{candidate_row["user_question"]}')
            continue  # Skip if the question matches the current row's question
        else:
            break
    if not candidate_row:
        break
    sql_candidates = parse_sql_candidates(merge_prompt=candidate_row["merger_prompt"])
    df.at[idx, "candidate_generations"] = sql_candidates
    em_candidates = [
        is_exact_match(c, llm_row["ground_truth_sql"]) for c in sql_candidates
    ]
    df.at[idx, "candidate_em"] = em_candidates
    ex_canddiates = [
        is_execution_match(get_sql_result(c), llm_row["ground_truth_result"])
        for c in sql_candidates
    ]
    df.at[idx, "candidate_ex"] = ex_canddiates
    df.at[idx, "candidate_least_correct"] = [
        c
        for c, em, ex in zip(sql_candidates, em_candidates, ex_canddiates)
        if (em) or (ex)
    ]
    df.at[idx, "candidate_passes"] = [
        CANDIDATE_NAMES[i]
        for i, (em, ex) in enumerate(zip(em_candidates, ex_canddiates))
        if (em) or (ex)
    ]
    # pbar.write(f'Row {idx} candidates: {row["candidate_generations"]}')

    # if int( idx ) > 5:
    #     break
    # pbar.write(llm_row)
    # pbar.write(llm_row['question'])
    # pbar.write(llm_row['candidate_generations'])
    # pbar.write(llm_row['candidate_em'])
    # pbar.write(llm_row['candidate_ex'])
    # pbar.write(llm_row['candidate_least_correct'])
    pass
pbar.close()

  0%|          | 0/289 [00:00<?, ?it/s]

----------Row 0---------
Processing llm_row with question: Có bao nhiêu lịch hẹn được tạo trong tháng 3 năm 2025?

----------Row 1---------
Processing llm_row with question: Liệt kê tất cả các chi nhánh hiện đang hoạt động.

skip candidate row:
Có bao nhiêu lịch hẹn được tạo trong tháng 3 năm 2025?

----------Row 2---------
Processing llm_row with question: Có bao nhiêu khách hàng đặt lịch hẹn tại chi nhánh Hà Đông?

skip candidate row:
Có bao nhiêu lịch hẹn được tạo trong tháng 3 năm 2025?

skip candidate row:
Có bao nhiêu lịch hẹn được tạo trong tháng 3 năm 2025?

skip candidate row:
Liệt kê tất cả các chi nhánh hiện đang hoạt động.

skip candidate row:
Liệt kê tất cả các chi nhánh hiện đang hoạt động.

----------Row 3---------
Processing llm_row with question: Liệt kê tất cả các lịch hẹn có trạng thái "Đã xác nhận" (appointment_status_id = 16).

skip candidate row:
Có bao nhiêu khách hàng đặt lịch hẹn tại chi nhánh Hà Đông?

skip candidate row:
Có bao nhiêu lịch hẹn được tạo trong tháng 3 năm 2025?

skip candidate row:
Có bao nhiêu lịch hẹn được tạo trong tháng 3 năm 2025?

skip candidate row:
Liệt kê tất cả các chi nhánh hiện đang hoạt động.

skip candidate row:
Liệt kê tất cả các chi nhánh hiện đang hoạt động.

skip candidate row:
Có bao nhiêu khách hàng đặt lịch hẹn tại chi nhánh Hà Đông?

skip candidate row:
Có bao nhiêu khách hàng đặt lịch hẹn tại chi nhánh Hà Đông?

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  rc.value AS `Tr at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  rc.value AS `Trạng thái cuộc hẹn`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  a.content AS `Nội dung cuộc hẹn`,
  a.remarks AS `Ghi chú`,
  a.estimate_time AS `Thời gian ước tính (phút)`
FROM appointment AS a
JOIN reference_code AS rc
  ON a.appointment_status_id = rc.id
WHERE
  a.appointment_status_id = 16
Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  a.appointment_t at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  a.appointment_time AS `Thời gian hẹn`,
  rc.value AS `Trạng thái cuộc hẹn`
FROM appointment AS a
JOIN reference_code AS rc
  ON a.appointment_status_id = rc.id
WHERE
  a.appointment_status_id = 16
----------Row 4---------
Processing llm_row with question: Có bao nhiêu lịch hẹn bị hủy trong tháng 3 năm 2025?

skip candidate row:
Liệt kê tất cả các lịch hẹn có trạng thái "Đã xác nhận" (appointment_status_id = 16).

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 18.
  SELECT
  COUNT(id) AS `Số lượng lịch hẹn bị hủy trong tháng 3 năm 2025`
FROM appointment
WHERE
  EXTRACT(YEAR_MONTH FROM canc at
Query: SELECT
  COUNT(id) AS `Số lượng lịch hẹn bị hủy trong tháng 3 năm 2025`
FROM appointment
WHERE
  EXTRACT(YEAR_MONTH FROM cancelled_on) = 202503
----------Row 5---------
Processing llm_row with question: Liệt kê các dịch vụ được sử dụng trong lịch hẹn ngày 12/03/2025.

skip candidate row:
Có bao nhiêu lịch hẹn bị hủy trong tháng 3 năm 2025?

----------Row 6---------
Processing llm_row with question: Tìm tất cả các lịch hẹn của bệnh nhân có số điện thoại 0989149111.

skip candidate row:
Liệt kê các dịch vụ được sử dụng trong lịch hẹn ngày 12/03/2025.

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  a.cont at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  a.content AS `Nội dung cuộc hẹn`,
  a.remarks AS `Ghi chú`
FROM appointment AS a
JOIN patient AS p
  ON a.patient_id = p.id
WHERE
  p.mobile_phone = '0989149111'
Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  p.full_name AS `Tên bệnh nhân`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  a.cont at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  p.full_name AS `Tên bệnh nhân`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  a.content AS `Nội dung cuộc hẹn`,
  a.remarks AS `Ghi chú`,
  a.performer_name AS `Người thực hiện`,
  a.performer_phone AS `SĐT người thực hiện`
FROM appointment AS a
JOIN patient AS p
  ON a.patient_id = p.id
WHERE
  p.mobile_phone = `0989149111`
Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  p.full_name AS `Tên bệnh nhân`,
  a.appointment_time AS `Thời gian hẹn`,
  a.content A at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  p.full_name AS `Tên bệnh nhân`,
  a.appointment_time AS `Thời gian hẹn`,
  a.content AS `Nội dung cuộc hẹn`,
  a.remarks AS `Ghi chú`,
  a.estimate_time AS `Thời gian ước tính (phút)`
FROM patient AS p
JOIN appointment AS a
  ON p.id = a.patient_id
WHERE
  p.mobile_phone = `0989149111`
----------Row 7---------
Processing llm_row with question: Có bao nhiêu khách hàng sinh nhật trong tháng 3?

skip candidate row:
Tìm tất cả các lịch hẹn của bệnh nhân có số điện thoại 0989149111.

----------Row 8---------
Processing llm_row with question: Liệt kê các khiếu nại được tạo trong tháng 3 năm 2025.

skip candidate row:
Có bao nhiêu khách hàng sinh nhật trong tháng 3?

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 23.
  SELECT
  complaint_code AS `Mã khiếu nại`,
  patient_name AS `Tên bệnh nhân`,
  service_name AS `Tên dịch vụ`,
  content_complaint at
Query: SELECT
  complaint_code AS `Mã khiếu nại`,
  patient_name AS `Tên bệnh nhân`,
  service_name AS `Tên dịch vụ`,
  content_complaint AS `Nội dung khiếu nại`,
  created_on AS `Ngày tạo`
FROM complaint
WHERE
  MONTH(created_on) = 3 AND YEAR(created_on) = 2025
----------Row 9---------
Processing llm_row with question: Tìm tổng số lượng lô hàng nhập kho trong tháng 3 năm 2025.

skip candidate row:
Liệt kê các khiếu nại được tạo trong tháng 3 năm 2025.

----------Row 10---------
Processing llm_row with question: Liệt kê các phòng ban hiện có trong hệ thống.

skip candidate row:
Tìm tổng số lượng lô hàng nhập kho trong tháng 3 năm 2025.

----------Row 11---------
Processing llm_row with question: Tìm tên bệnh nhân có lịch hẹn vào ngày 13/03/2025.

skip candidate row:
Liệt kê các phòng ban hiện có trong hệ thống.

----------Row 12---------
Processing llm_row with question: Có bao nhiêu nhân viên thuộc phòng ban GSV Technology?

skip candidate row:
Tìm tên bệnh nhân có lịch hẹn vào ngày 13/03/2025.

----------Row 13---------
Processing llm_row with question: Liệt kê các lịch hẹn có thời gian ước tính là 30 phút.

skip candidate row:
Có bao nhiêu nhân viên thuộc phòng ban GSV Technology?

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 25.
  SELECT
  appointment_code AS `Mã cuộc hẹn`,
  full_name AS `Tên người hẹn`,
  mobile_phone AS `Số điện thoại`,
  appointment_time AS at
Query: SELECT
  appointment_code AS `Mã cuộc hẹn`,
  full_name AS `Tên người hẹn`,
  mobile_phone AS `Số điện thoại`,
  appointment_time AS `Thời gian cuộc hẹn`,
  estimate_time AS `Thời gian ước tính (phút)`,
  performer_name AS `Người thực hiện`,
  content AS `Nội dung`,
  remarks AS `Ghi chú`
FROM appointment
WHERE
  estimate_time = 30
----------Row 14---------
Processing llm_row with question: Tìm mã lịch hẹn của bệnh nhân có tên "Cường nguyễn".

skip candidate row:
Liệt kê các lịch hẹn có thời gian ước tính là 30 phút.

Error normalizing SQL: Invalid expression / Unexpected token. Line 5, Col: 20.
  SELECT
  appointment_code
FROM appointment
WHERE
  full_name = `Cường nguyễn` at
Query: SELECT
  appointment_code
FROM appointment
WHERE
  full_name = `Cường nguyễn`
----------Row 15---------
Processing llm_row with question: Có bao nhiêu khiếu nại có trạng thái "Đang xử lý" (complaint_status_id = 33)?

skip candidate row:
Tìm mã lịch hẹn của bệnh nhân có tên "Cường nguyễn".

----------Row 16---------
Processing llm_row with question: Liệt kê các dịch vụ được sử dụng trong lịch hẹn có mã AP89461741787064.

skip candidate row:
Có bao nhiêu khiếu nại có trạng thái "Đang xử lý" (complaint_status_id = 33)?

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 24.
  SELECT
  s.service_name AS `Tên dịch vụ`
FROM appointment AS a
INNER JOIN appointment_service AS aps
  ON a.id = aps.appointment_id at
Query: SELECT
  s.service_name AS `Tên dịch vụ`
FROM appointment AS a
INNER JOIN appointment_service AS aps
  ON a.id = aps.appointment_id
INNER JOIN service AS s
  ON aps.service_id = s.id
WHERE
  a.appointment_code = `AP89461741787064`
Error normalizing SQL: Invalid expression / Unexpected token. Line 9, Col: 40.
  .id = aps.appointment_id
JOIN service AS s
  ON aps.service_id = s.id
WHERE
  a.appointment_code = `AP89461741787064` at
Query: SELECT
  s.service_name
FROM appointment AS a
JOIN appointment_service AS aps
  ON a.id = aps.appointment_id
JOIN service AS s
  ON aps.service_id = s.id
WHERE
  a.appointment_code = `AP89461741787064`
----------Row 17---------
Processing llm_row with question: Tìm tất cả các lô hàng hết hạn trước ngày 01/01/2026.

skip candidate row:
Liệt kê các dịch vụ được sử dụng trong lịch hẹn có mã AP89461741787064.

----------Row 18---------
Processing llm_row with question: Có bao nhiêu lịch hẹn được lên lịch bởi nhân viên có id = 1?

skip candidate row:
Tìm tất cả các lô hàng hết hạn trước ngày 01/01/2026.

----------Row 19---------
Processing llm_row with question: Liệt kê các lịch hẹn có trạng thái lịch sử thay đổi trong tháng 3 năm 2025.

skip candidate row:
Có bao nhiêu lịch hẹn được lên lịch bởi nhân viên có id = 1?

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  ah.sta at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  ah.status_time AS `Thời gian thay đổi trạng thái`,
  rc.value AS `Trạng thái cuộc hẹn`
FROM appointment_history AS ah
JOIN appointment AS a
  ON ah.appointment_id = a.id
JOIN reference_code AS rc
  ON ah.appointment_status_id = rc.id
WHERE
  ah.status_time >= '2025-03-01' AND ah.status_time < '2025-04-01'
Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  ah.status_time  at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  ah.status_time AS `Thời gian thay đổi trạng thái`,
  rc.value AS `Trạng thái cuộc hẹn`,
  ah.reason AS `Lý do thay đổi`
FROM appointment_history AS ah
JOIN appointment AS a
  ON ah.appointment_id = a.id
JOIN reference_code AS rc
  ON ah.appointment_status_id = rc.id
WHERE
  MONTH(ah.status_time) = 3 AND YEAR(ah.status_time) = 2025
----------Row 20---------
Processing llm_row with question: Tìm tên bệnh nhân và số điện thoại của các lịch hẹn vào ngày 12/03/2025.

skip candidate row:
Liệt kê các lịch hẹn có trạng thái lịch sử thay đổi trong tháng 3 năm 2025.

----------Row 21---------
Processing llm_row with question: Có bao nhiêu dịch vụ được sử dụng trong tất cả các lịch hẹn?

skip candidate row:
Tìm tên bệnh nhân và số điện thoại của các lịch hẹn vào ngày 12/03/2025.

----------Row 22---------
Processing llm_row with question: Liệt kê các chi nhánh có mã chi nhánh bắt đầu bằng "GSV".

skip candidate row:
Có bao nhiêu dịch vụ được sử dụng trong tất cả các lịch hẹn?

----------Row 23---------
Processing llm_row with question: Tìm tất cả các khiếu nại liên quan đến dịch vụ "Triệt lông ấn đường".

skip candidate row:
Liệt kê các chi nhánh có mã chi nhánh bắt đầu bằng "GSV".

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 23.
  SELECT
  complaint_code AS `Mã khiếu nại`,
  patient_name AS `Tên bệnh nhân`,
  content_complaint AS `Nội dung khiếu nại`,
  creat at
Query: SELECT
  complaint_code AS `Mã khiếu nại`,
  patient_name AS `Tên bệnh nhân`,
  content_complaint AS `Nội dung khiếu nại`,
  created_on AS `Thời gian tạo`,
  complaint_status_id AS `Trạng thái`,
  complaint_type_id AS `Loại khiếu nại`
FROM complaint
WHERE
  service_name = `Triệt lông ấn đường`
Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 25.
  SELECT
  c.complaint_code AS `Mã khiếu nại`,
  c.patient_name AS `Tên bệnh nhân`,
  c.service_name AS `Tên dịch vụ`,
  c.content_com at
Query: SELECT
  c.complaint_code AS `Mã khiếu nại`,
  c.patient_name AS `Tên bệnh nhân`,
  c.service_name AS `Tên dịch vụ`,
  c.content_complaint AS `Nội dung khiếu nại`
FROM complaint AS c
WHERE
  c.service_name = `Triệt lông ấn đường`
----------Row 24---------
Processing llm_row with question: Có bao nhiêu lịch hẹn được tạo bởi người dùng có tên "Admin"?

skip candidate row:
Tìm tất cả các khiếu nại liên quan đến dịch vụ "Triệt lông ấn đường".

Error normalizing SQL: Invalid expression / Unexpected token. Line 5, Col: 18.
  SELECT
  COUNT(*) AS total_appointments
FROM appointment
WHERE
  creator = `Admin` at
Query: SELECT
  COUNT(*) AS total_appointments
FROM appointment
WHERE
  creator = `Admin`
----------Row 25---------
Processing llm_row with question: Liệt kê các lô hàng có số lượng còn lại lớn hơn 0.

skip candidate row:
Có bao nhiêu lịch hẹn được tạo bởi người dùng có tên "Admin"?

----------Row 26---------
Processing llm_row with question: Tìm tên bệnh nhân có lịch hẹn với bác sĩ có id = 41.

skip candidate row:
Liệt kê các lô hàng có số lượng còn lại lớn hơn 0.

----------Row 27---------
Processing llm_row with question: Có bao nhiêu lịch hẹn có thời gian thực hiện trong khoảng từ 12/03/2025 đến 13/03/2025?

skip candidate row:
Tìm tên bệnh nhân có lịch hẹn với bác sĩ có id = 41.

Error normalizing SQL: Invalid expression / Unexpected token. Line 5, Col: 42.
  T
  COUNT(id) AS total_appointments
FROM appointment
WHERE
  appointment_time BETWEEN `2025-03-12 00:00:00` AND `2025-03-13 23:59:59` at
Query: SELECT
  COUNT(id) AS total_appointments
FROM appointment
WHERE
  appointment_time BETWEEN `2025-03-12 00:00:00` AND `2025-03-13 23:59:59`
----------Row 28---------
Processing llm_row with question: Liệt kê các lịch hẹn có kỹ thuật viên thực hiện (technican_id không null).

skip candidate row:
Có bao nhiêu lịch hẹn có thời gian thực hiện trong khoảng từ 12/03/2025 đến 13/03/2025?

----------Row 29---------
Processing llm_row with question: Tìm tất cả các khiếu nại được xử lý bởi nhân viên có id = 1.

skip candidate row:
Liệt kê các lịch hẹn có kỹ thuật viên thực hiện (technican_id không null).

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 23.
  SELECT
  complaint_code AS `Mã khiếu nại`,
  patient_name AS `Tên bệnh nhân`,
  service_name AS `Tên dịch vụ`,
  content_complaint at
Query: SELECT
  complaint_code AS `Mã khiếu nại`,
  patient_name AS `Tên bệnh nhân`,
  service_name AS `Tên dịch vụ`,
  content_complaint AS `Nội dung khiếu nại`
FROM complaint
WHERE
  telesale_id = 1 OR doctor_id = 1 OR technican_id = 1
----------Row 30---------
Processing llm_row with question: Có bao nhiêu khách hàng có lịch hẹn tại chi nhánh Từ Liêm?

skip candidate row:
Tìm tất cả các khiếu nại được xử lý bởi nhân viên có id = 1.

----------Row 31---------
Processing llm_row with question: Liệt kê các lịch hẹn có nội dung (content) không rỗng.

skip candidate row:
Có bao nhiêu khách hàng có lịch hẹn tại chi nhánh Từ Liêm?

----------Row 32---------
Processing llm_row with question: Tìm tên bệnh nhân và mã lịch hẹn của các lịch hẹn vào ngày 12/03/2025.

skip candidate row:
Liệt kê các lịch hẹn có nội dung (content) không rỗng.

----------Row 33---------
Processing llm_row with question: Có bao nhiêu lô hàng được nhập từ nhà cung cấp (supplier_id không null)?

skip candidate row:
Tìm tên bệnh nhân và mã lịch hẹn của các lịch hẹn vào ngày 12/03/2025.

----------Row 34---------
Processing llm_row with question: Liệt kê các lịch hẹn có thời gian ước tính lớn hơn 30 phút.

skip candidate row:
Có bao nhiêu lô hàng được nhập từ nhà cung cấp (supplier_id không null)?

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 25.
  SELECT
  appointment_code AS `Mã cuộc hẹn`,
  full_name AS `Tên người hẹn`,
  mobile_phone AS `Số điện thoại`,
  appointment_time AS at
Query: SELECT
  appointment_code AS `Mã cuộc hẹn`,
  full_name AS `Tên người hẹn`,
  mobile_phone AS `Số điện thoại`,
  appointment_time AS `Thời gian cuộc hẹn`,
  estimate_time AS `Thời gian ước tính (phút)`,
  content AS `Nội dung cuộc hẹn`,
  remarks AS `Ghi chú`
FROM appointment
WHERE
  estimate_time > 30
----------Row 35---------
Processing llm_row with question: Tìm tất cả các lịch hẹn được tạo trước ngày 13/03/2025.

skip candidate row:
Liệt kê các lịch hẹn có thời gian ước tính lớn hơn 30 phút.

----------Row 36---------
Processing llm_row with question: Có bao nhiêu khiếu nại liên quan đến bác sĩ có id = 41?

skip candidate row:
Tìm tất cả các lịch hẹn được tạo trước ngày 13/03/2025.

----------Row 37---------
Processing llm_row with question: Liệt kê các phòng ban có trưởng phòng là "Mrs Phuong".

skip candidate row:
Có bao nhiêu khiếu nại liên quan đến bác sĩ có id = 41?

Error normalizing SQL: Invalid expression / Unexpected token. Line 5, Col: 24.
  SELECT
  department_name
FROM department
WHERE
  department_head = `Mrs Phuong` at
Query: SELECT
  department_name
FROM department
WHERE
  department_head = `Mrs Phuong`
Error normalizing SQL: Invalid expression / Unexpected token. Line 5, Col: 24.
  SELECT
  department_name
FROM department
WHERE
  department_head = `Mrs Phuong` at
Query: SELECT
  department_name
FROM department
WHERE
  department_head = `Mrs Phuong`
Error normalizing SQL: Invalid expression / Unexpected token. Line 5, Col: 24.
  SELECT
  department_name
FROM department
WHERE
  department_head = `Mrs Phuong` at
Query: SELECT
  department_name
FROM department
WHERE
  department_head = `Mrs Phuong`
----------Row 38---------
Processing llm_row with question: Tìm tất cả các lịch hẹn của bệnh nhân có id = 8946.

skip candidate row:
Liệt kê các phòng ban có trưởng phòng là "Mrs Phuong".

Error normalizing SQL: Invalid expression / Unexpected token. Line 2, Col: 27.
  SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  a.appointment_t at
Query: SELECT
  a.appointment_code AS `Mã cuộc hẹn`,
  a.full_name AS `Tên người hẹn`,
  a.mobile_phone AS `Số điện thoại`,
  a.appointment_time AS `Thời gian cuộc hẹn`,
  a.content AS `Nội dung cuộc hẹn`,
  a.remarks AS `Ghi chú`,
  a.performer_name AS `Người thực hiện`,
  a.performer_phone AS `SĐT người thực hiện`,
  a.appointment_type_id AS `Loại cuộc hẹn`,
  a.appointment_status_id AS `Trạng thái cuộc hẹn`
FROM appointment AS a
WHERE
  a.patient_id = 8946
----------Row 39---------
Processing llm_row with question: Có bao nhiêu lịch hẹn có trạng thái lịch sử là "Đã xác nhận" (appointment_status_id = 16)?

skip candidate row:
Tìm tất cả các lịch hẹn của bệnh nhân có id = 8946.

----------Row 40---------
Processing llm_row with question: Liệt kê các dịch vụ được sử dụng trong lịch hẹn có id = 2.

skip candidate row:
Có bao nhiêu lịch hẹn có trạng thái lịch sử là "Đã xác nhận" (appointment_status_id = 16)?

----------Row 41---------
Processing llm_row with question: Tìm tên bệnh nhân có khiếu nại với mã KN89461741788415.

skip candidate row:
Liệt kê các dịch vụ được sử dụng trong lịch hẹn có id = 2.

----------Row 42---------

In [105]:

df.to_csv(
    csv_result_path,
    encoding="utf-8",
    quoting=1,  # QUOTE_ALL mode
    escapechar="\\",
)

In [103]:
for idx, row in df.iterrows():
    df.at[idx, "candidate_passes"] = [CANDIDATE_NAMES[i] for i, (em, ex) in enumerate(zip(row['candidate_em'], row['candidate_ex'])) if em or ex]

In [104]:
df.iloc[-5:]

,question,ground_truth_sql,level,ground_truth_result,error,generated_sql_query,generated_query_result,generated_sql_error,generated_raw_result,llm_exact_match,llm_execution_match,candidate_generations,candidate_em,candidate_ex,candidate_least_correct,candidate_passes
284,Liệt kê 5 dịch vụ (service_info) được sử dụng ...,"SELECT si.service_info_name, COUNT(aps.id) AS ...",hard,"[('Phuong Test', 8), ('Gói điều trị thâm vùng ...",NaN,"SELECT si.service_info_name AS 'Tên dịch vụ', ...",Dưới đây là danh sách 5 dịch vụ được sử dụng n...,NaN,"[('Phuong Test', 8), ('Gói điều trị thâm vùng ...",True,True,"[SELECT\n si.service_info_name,\n COUNT(aps....","[False, False, False, False]","[True, True, True, True]","[SELECT\n si.service_info_name,\n COUNT(aps....","[direct_generation, cot_generation, dac_cot_ge..."
285,Bệnh nhân nào có nhiều lịch hẹn bị hủy (appoin...,"SELECT p.full_name, COUNT(a.id) AS so_lich_huy...",hard,"[('Cường nguyễn', 5)]",NaN,"SELECT p.full_name AS patient_name, COUNT(a.pa...",Bệnh nhân có nhiều lịch hẹn bị hủy nhất là Cườ...,NaN,"[('Cường nguyễn', 5)]",True,True,"[SELECT\n p.id AS patient_id,\n p.full_name ...","[False, False, False, False]","[False, True, False, True]","[SELECT\n p.full_name AS patient_name,\n COU...","[cot_generation, query_plan_generation]"
286,Liệt kê các nhân viên và số lượng lịch hẹn họ ...,"SELECT e.first_name, e.last_name, COUNT(a.id) ...",hard,"[('Admin', None, 95), ('Cường Cầu giấy', 'Cườn...",NaN,"SELECT e.first_name, e.last_name, COUNT(a.id) ...",Dưới đây là danh sách nhân viên và số lượng lị...,NaN,"[('Admin', None, 95), ('Cường Cầu giấy', 'Cườn...",NaN,NaN,"[SELECT\n e.id AS employee_id,\n e.first_nam...","[False, False, False, False]","[False, False, False, True]","[SELECT\n e.first_name,\n e.last_name,\n CO...",[query_plan_generation]
287,Tìm thông tin các gói (package) được mua bởi b...,SELECT pkg.* FROM package pkg JOIN patient p O...,hard,"[(datetime.datetime(2025, 4, 17, 13, 17, 32, 8...",NaN,"SELECT p.package_code AS 'Mã gói', p.package_n...",Thông tin về các gói mà bệnh nhân có mã 'KH 00...,NaN,"[('GDV20250417201732531', None, datetime.datet...",False,False,"[SELECT\n p.id AS package_id,\n p.package_co...","[False, False, False, False]","[False, False, False, False]",[],[]
288,Chi nhánh nào có nhiều lịch hẹn nhất?\n,"SELECT b.branch_name, COUNT(a.id) AS total_app...",hard,"[('Chi nhánh Cầu Giấy', 63)]",NaN,"SELECT b.branch_name, COUNT(a.id) AS total_app...","Chi nhánh Cầu Giấy có nhiều lịch hẹn nhất, với...",NaN,"[('Chi nhánh Cầu Giấy', 63)]",True,True,"[SELECT\n b.branch_name,\n COUNT(a.id) AS to...","[False, False, False, False]","[True, True, True, True]","[SELECT\n b.branch_name,\n COUNT(a.id) AS to...","[direct_generation, cot_generation, dac_cot_ge..."

In [95]:
df['candidate_least_correct'].value_counts()

candidate_least_correct
[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            153
[SELECT\n  COUNT(id)\nFROM appointment\nWHERE\n  MONTH(created_on) = 3 AND YEAR(created_on) = 2025, SELECT\n  COUNT(*) AS so_luong_lich_hen\nFROM appointment\nWHERE\n  YEAR(created_on) = 2025 AND MONTH(created_on) = 3, SELECT\n  COUNT(id)\nFROM appointment\nWHERE\n  YEAR(created_on) = 2025 AND MONTH(created_on) = 3, SELECT\n  COUNT(id) AS total_appointments\nFROM appointment\nWHERE\n  YEAR(appointment_time) = 2025 AND MONTH(appointment_time) = 3]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
[SELECT\n  COUNT(DISTINCT T1.patient_id)\nFROM appointment AS T1\nINNER JOIN branch AS T2\n  ON T1.branch_id = T2.id\nWHERE\n  T2.branch_name = 'Chi nhánh Hà Đông', SELECT\n  COUNT(DISTINCT appointment.patient_id) AS SoLuongKhachHang\nFROM branch\nJOIN appointment\n  ON branch.id = appointment.branch_id\nWHERE\n  branch.branch_name = 'Chi nhánh Hà Đông', SELECT\n  COUNT(DISTINCT A.patient_id)\nFROM appointment AS A\nJOIN branch AS B\n  ON A.branch_id = B.id\nWHERE\n  B.branch_name = 'Chi nhánh Hà Đông', SELECT\n  COUNT(DISTINCT T1.patient_id)\nFROM appointment AS T1\nINNER JOIN branch AS T2\n  ON T1.branch_id = T2.id\nWHERE\n  T2.branch_name = 'Chi nhánh Hà Đông']                                                                                                                                                                                                                                                                                                                                                                1
[SELECT\n  COUNT(id)\nFROM appointment\nWHERE\n  EXTRACT(YEAR FROM cancelled_on) = 2025 AND EXTRACT(MONTH FROM cancelled_on) = 3, SELECT\n  COUNT(id) AS `Số lượng lịch hẹn bị hủy trong tháng 3 năm 2025`\nFROM appointment\nWHERE\n  EXTRACT(YEAR_MONTH FROM cancelled_on) = 202503, SELECT\n  COUNT(A.id) AS so_luong_lich_hen_bi_huy\nFROM appointment AS A\nWHERE\n  A.cancelled_on BETWEEN '2025-03-01' AND '2025-03-31', SELECT\n  COUNT(id) AS num_cancelled_appointments\nFROM appointment\nWHERE\n  CAST(cancelled_on AS DATE) LIKE '2025-03-%']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
[SELECT DISTINCT\n  p.full_name\nFROM patient AS p\nJOIN appointment AS a\n  ON p.id = a.patient_id\nWHERE\n  DATE(a.appointment_time) = '2025-03-13', SELECT\n  p.full_name AS patient_name\nFROM appointment AS a\nINNER JOIN patient AS p\n  ON a.patient_id = p.id\nWHERE\n  DATE(a.appointment_time) = '2025-03-13', SELECT DISTINCT\n  p.full_name AS patient_name\nFROM patient AS p\nJOIN appointment AS a\n  ON p.id = a.patient_id\nWHERE\n  DATE(a.appointment_time) = '2025-03-13', SELECT DISTINCT\n  p.full_name AS patient_name\nFROM patient AS p\nJOIN appointment AS a\n  ON p.id = a.patient_id\nWHERE\n  DATE(a.appointment_time) = '2025-03-13']                                                                                                                                                                                                                                                                                                                                                                                           1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
[SELECT\n  SUM(sale_invoice.total_amount) AS `Tổng doanh thu`\nFROM sale_invoice\nJOIN patient\n  ON sale_invoice.patient_id = patient.id\nWHERE\n  patient.full_name = 'Anh Thư', SELECT\n  SUM(si.total_amount) AS `Tổng doanh thu`\nFROM sale_invoice AS si\nJOIN patient AS p\n  ON si.patient_id = p.id\nWHERE\n  p.full_name = 'Anh Thư', SELECT\n  SUM(si.total_amount) AS total_revenue\nFROM sale_invoice AS si\nJOIN patient AS p\n  ON si.patient_id = p.id\nWHERE\n  p.full_name = 'Anh Thư']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
[SELECT\n  si.service_info_name,\n  COUNT(aps.service_info_id) AS total_usage\nFROM appointment_service AS aps\nJOIN service_info AS si\n  ON aps.service_info_id = si.id\nGROUP BY\n  si.service_info_name\nORDER BY\n  total_usage DESC\nLIMIT 5, SELECT\n  si.service_info_name AS `Tên dịch vụ`,\n  COUNT(asi.service_info_id) AS `Số lần sử dụng`\nFROM appointment_service AS asi\nJOIN service_info AS si\n  ON asi.service_info_id = si.id\nGROUP BY\n  asi.service_info_id\nORDER BY\n  COUNT(asi.service_info_id) DESC\nLIMIT 5, SELECT\n  si.service_info_name,\n  COUNT(aps.service_info_id) AS times_used\nFROM appointment_service AS aps\nJOIN service_info AS si\n  ON aps.service_info_id = si.id\nGROUP BY\n  si.service_info_name\nORDER BY\n  times_used DESC\nLIMIT 5, SELECT\n  si.service_info_name,\n  COUNT(aps.service_info_id) AS appointment_count\nFROM appointment_service AS aps\nJOIN service_info AS si\n  ON aps.service_info_id = si.id\nGROUP BY\n  si.service_info_name\nORDER BY\n  appointment_count DESC\nLIMIT 5]      1
[SELECT\n  p.full_name AS patient_name,\n  COUNT(*) AS total_cancelled_appointments\nFROM appointment AS a\nJOIN patient AS p\n  ON a.patient_id = p.id\nWHERE\n  a.appointment_status_id = 20\nGROUP BY\n  p.id\nORDER BY\n  total_cancelled_appointments DESC\nLIMIT 1, SELECT\n  p.full_name AS patient_name,\n  COUNT(a.patient_id) AS number_of_cancelled_appointments\nFROM patient AS p\nJOIN appointment AS a\n  ON p.id = a.patient_id\nWHERE\n  a.appointment_status_id = 20\nGROUP BY\n  p.full_name\nORDER BY\n  number_of_cancelled_appointments DESC\nLIMIT 1]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
[SELECT\n  e.first_name,\n  e.last_name,\n  COUNT(a.id) AS total_appointments\nFROM employee AS e\nJOIN appointment AS a\n  ON e.id = a.schedule_by\nGROUP BY\n  e.id\nORDER BY\n  total_appointments DESC]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
[SELECT\n  b.branch_name,\n  COUNT(a.id) AS total_appointments\nFROM branch AS b\nJOIN appointment AS a\n  ON b.id = a.branch_id\nGROUP BY\n  b.branch_name\nORDER BY\n  total_appointments DESC\nLIMIT 1, SELECT\n  b.branch_name,\n  COUNT(*) AS appointment_count\nFROM branch AS b\nJOIN appointment AS a\n  ON b.id = a.branch_id\nGROUP BY\n  b.id\nORDER BY\n  appointment_count DESC\nLIMIT 1, SELECT\n  b.branch_name,\n  COUNT(a.id) AS total_appointments\nFROM branch AS b\nJOIN appointment AS a\n  ON b.id = a.branch_id\nGROUP BY\n  b.branch_name\nORDER BY\n  total_appointments DESC\nLIMIT 1, SELECT\n  b.branch_name,\n  COUNT(a.id) AS total_appointments\nFROM branch AS b\nJOIN appointment AS a\n  ON b.id = a.branch_id\nGROUP BY\n  b.branch_name\nORDER BY\n  total_appointments DESC\nLIMIT 1]                                                                                                                                                                                                                                      1
Name: count, Length: 137, dtype: int64

In [ ]:
df['llm_exact_match'].value_counts()

llm_exact_match
True     127
False     97
Name: count, dtype: int64

In [ ]:
df['llm_execution_match'].value_counts()

llm_execution_match
True     135
False     89
Name: count, dtype: int64

In [106]:
candidate_counter = {}
for candidate in CANDIDATE_NAMES:
    candidate_counter[candidate] = df['candidate_passes'].apply(lambda x: candidate in x).sum()
candidate_counter
# df['candidate_passes']

{'direct_generation': np.int64(100),
 'cot_generation': np.int64(109),
 'dac_cot_genration': np.int64(104),
 'query_plan_generation': np.int64(102)}